.lightningFilledIcon {
    height: 14px;
    width: 14px;
    position: relative;
  }
  .faqs1 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
  }
  .lightningFilledParent {
    box-shadow: 0 3px 4px rgba(125, 137, 78, 0.04) inset,
      0-4px 4px rgba(237, 248, 195, 0.1) inset;
    border-radius: var(--br-base);
    background-color: var(--color-lightgreen-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
      var(--padding-base);
    gap: var(--gap-3xs);
  }
  .gotQuestions {
    margin: 0;
    width: 316px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
  }
  .weveGotAnswers {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: -0.01em;
    line-height: 24px;
    font-family: var(--font-avenir);
    color: var(--grey4);
  }
  .frameParent,
  .questionsAnswers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .questionsAnswers {
    align-self: stretch;
    gap: var(--gap-base);
    font-size: var(--font-size-29xl);
    font-family: var(--font-cabinet-grotesk);
  }
  .frameParent {
    width: 437px;
    gap: var(--gap-13xl);
    max-width: 100%;
  }
  .image154Icon {
    width: 481px;
    position: relative;
    border-radius: 64px;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .whatIsOlatech {
    position: relative;
    line-height: 120%;
  }
  .howDoI {
    display: inline-block;
    color: var(--color-darkslategray-200);
    max-width: 100%;
  }
  .howDoI,
  .howDoesThe,
  .whatIsThe {
    position: relative;
    line-height: 120%;
  }
  .howDoesThe {
    display: inline-block;
    max-width: 100%;
  }
  .whatIsThe {
    color: var(--color-darkslategray-200);
    z-index: 1;
  }
  .howDoesTheOlatechAppWorkParent {
    align-self: stretch;
    flex-direction: column;
    gap: 60px;
    min-height: 155px;
    max-width: 100%;
    color: var(--color-dimgray-100);
  }
  .appQuestions,
  .faqs,
  .howDoesTheOlatechAppWorkParent,
  .image154Parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .appQuestions {
    flex: 1;
    background-color: #fcfcfc;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-59xl) 0 var(--padding-35xl) var(--padding-27xl);
    box-sizing: border-box;
    gap: var(--gap-72xl);
    min-width: 422px;
    max-width: 100%;
  }
  .faqs,
  .image154Parent {
    text-align: left;
  }
  .image154Parent {
    width: 1269px;
    flex-direction: row;
    gap: 138px;
    max-width: 100%;
    font-size: var(--font-size-5xl);
    color: var(--color-dimgray-200);
    font-family: var(--font-inter);
  }
  .faqs {
    width: 100%;
    position: relative;
    background-color: var(--pay4meapp-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-11xl) var(--padding-35xl) 91px;
    box-sizing: border-box;
    gap: 82px;
    line-height: normal;
    letter-spacing: normal;
    font-size: var(--font-size-3xs);
    color: var(--grey-8);
    font-family: var(--font-avenir);
  }
  @media screen and (max-width: 1200px) {
    .image154Icon {
      flex: 1;
    }
    .image154Parent {
      gap: var(--gap-50xl);
      flex-wrap: wrap;
    }
    .faqs {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .gotQuestions {
      font-size: var(--font-size-19xl);
      line-height: 46px;
    }
  }
  @media screen and (max-width: 750px) {
    .howDoesTheOlatechAppWorkParent {
      gap: var(--gap-11xl);
    }
    .appQuestions {
      gap: var(--gap-26xl);
      padding-left: 23px;
      padding-top: 51px;
      padding-bottom: var(--padding-16xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .image154Parent {
      gap: var(--gap-15xl);
    }
    .faqs {
      gap: 41px;
    }
  }
  @media screen and (max-width: 450px) {
    .gotQuestions {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .weveGotAnswers {
      font-size: var(--font-size-lgi);
      line-height: 19px;
    }
    .frameParent {
      gap: var(--gap-base);
    }
    .howDoI,
    .howDoesThe,
    .whatIsOlatech,
    .whatIsThe {
      font-size: var(--font-size-lgi);
      line-height: 23px;
    }
    .appQuestions {
      gap: var(--gap-4xl);
    }
    .image154Parent {
      gap: var(--gap-mid);
    }
    .faqs {
      gap: var(--gap-xl);
    }
  }
  